body{
  background-color:black;
}

/* ONLOAD */
.initialImage{

  margin-top: 80px;
  margin-left: 440px;
  width: 450px;
}
.initialImage:hover{
  cursor: grab;
}
.makeItSmall{
  transition: 3s ;
  animation: makeItSmall ease 1;
}
@keyframes makeItSmall {
  100%{
    transform: scale(0.2,0.2);
  }
}
.title{
  animation: brand 5s ease 1;
}
@keyframes brand {
    100%{
      transform: rotate3d(20,20,20,360deg);
    }
}



/* HOME */
h1{
    padding: 10%;
    text-align: center;
}



nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 10px;
    width: 95%;
}

.nav-elements{
    margin: 10px;
    display: inline-block;
    animation: fade-in 10s ease 1;
}
@keyframes fade-in {
  0%{
    opacity: 0%;
  }
  25%{
    opacity: 0%;
  }
  50%{
    opacity: 0%;
  }
  75%{
    opacity: 0%;
  }
  80%{
    opacity: 25%;
  }
  90%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}
.nav-elements a{
    text-align: right;
    padding: 10px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.nav-elements a:hover{
    color: red;
    font-size: 22px;
}
.nav-elements a:active{
  color: red;
}
